/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	margin: 0;
	padding: 0;
	display: inline-block;
}
.navigation a {
	border: 1px dotted red;
	padding: 10px;
	margin: 0 0 0 5px;
}
.navigation {
	padding: 10px 0 0 200px;
}
.header .h1{
	display:inline-block;
	font-size: 45px;
	border: 1px solid red;
	margin: 100px 10px 10px 200px;
	line-height: 1.5em;
}

.header .img1 {
	display: block;
	margin: -17% 650px 0 550px;
}
.section1 .s1p1{
	display: inline-block;
	margin: 30px 1000px 0 200px;
}
.section1 .s1p2 {
	display: block;
	margin: -99px 550px 0 600px;
	
}
.middle-img {
	margin: 20px 0 20px 150px;
}
.section2 .s2p1 {
	display: block;
	margin: 0 1100px 0 150px;
}
.section2 .s2p2 {
	display:block;
	margin: -95px 830px 0 510px;

}
.section2 .s2p3 {
	display:block;
	margin: -125px 530px 0 810px;
	

}